</main>

    <footer class="myFooter">
        <p>Copyright &copy;
     <%#    <script>
              document.write(new Date().getFullYear());
          </script>  %>  
          by Elizabeth</p>
      </footer>


<script src="index.js"></script>
</body>
</html>
